<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
              <%= f.input :birth_date, as: :string, required: true, input_html: {class: 'birth_date'} %>
              <%= f.input :birth_place, required: true, autofocus: true %>
              <%= f.input :description, required: true, autofocus: true%>
              <%= f.input :min_wage, required: true, autofocus: true %>
              <%= f.input :address, required: true, autofocus: true %>
              <%= f.input :mobility_radius, required: true, autofocus: true %>
              <%= f.input :on_duty %>
              <%= f.input :position, required: true, autofocus: true, collection: ["Barman", "Waiter", "Cook", "Receptionist", "Commis", "Second in command", "Desk Clerk", "Washer up"] %>
              <%= f.input :social_security_number, required: true, autofocus: true %>
              <%= f.input :telephone, required: true, autofocus: true %>
              <%= f.input :current_password, hint: "Needed to confirm your changes 'Por Favor!'", required: true, autofocus: true  %>
<%#raise%>

<%=@user.errors.full_messages%>


          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update" %>
          </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>


    </div>
  </div>
</div>



<!--
  create_table "users", force: :cascade do |t|
    t.string   "first_name"
    t.string   "last_name"
    t.date     "birth_date"
    t.string   "birth_place"
    t.text     "description"
    t.string   "position"
    t.integer  "min_wage"
    t.string   "address"
    t.integer  "mobility_radius"
    t.boolean  "on_duty"
    t.string   ""
    t.datetime "created_at",                          null: false
    t.datetime "updated_at",                          null: false
    t.string   "email",                  default: "", null: false
    t.string   "encrypted_password",     default: "", null: false
    t.string   "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.integer  "sign_in_count",          default: 0,  null: false
    t.datetime "current_sign_in_at"
    t.datetime "last_sign_in_at"
    t.inet     "current_sign_in_ip"
    t.inet     "last_sign_in_ip"
    t.string   "photo"
    t.string   "telephone" -->
