


<h4>Your bookings:</h4>
<% @bookings.each do |booking|%>

<%facility = Facility.find(booking.facility_id)%>
<%worker =User.find(booking.user_id) %>

<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'></div>
  </div>
  <%= link_to facility_path(facility) do %>
    <%= cl_image_tag facility.photo, width: 175, height: 175, crop: :fill, class:"product-image hidden-xs" %>
  <% end %>
  <div class='product-body'>
    <%= link_to facility_path(facility) do %>
      <h3><%= facility.name %></h3>
    <% end %>
    <p><%= facility.address %></p>
  </div>

  <%= link_to facility_path(facility) do %>
    <%= cl_image_tag worker.photo, width: 175, height: 175, crop: :fill, class:"product-image hidden-xs" %>
  <% end %>
  <div class='product-body'>
    <%= link_to worker_path(worker) do %>
      <h3><%= worker.first_name %></h3>
    <% end %>
    <p><%= worker.position %></p>
  </div>
  <div class='product-body'>
    <%= link_to "" do %>
      <h3><%= worker.min_wage / 100 %>€/h</h3>
      <p>price</p>
    <% end %>
  </div>
  <div class='product-body'>
    <%= link_to "" do %>
      <h3><%= booking.status %></h3>
      <p>status</p>
    <% end %>
  </div>
    <div class='product-body'>

      <% if current_user.id = booking.user_id %>
      <h3>Wait for validation</h3>
      <%= link_to "Delete this request", worker_booking_path(worker.id, booking), method: :delete, class:"btn btn-success" %>
      <% elsif current_user = worker %>
    <%= link_to "" do %>
      <h3>Validate the job !</h3>
    <% end %>
    <% end %>
  </div>


</div>
<% end %>
