
<% current_user.facilities.each do |facility| %>
<h4>Your facilities:</h4>

<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>95</div>
  </div>
  <%= link_to facility_path(facility) do %>
    <%= cl_image_tag facility.photo, width: 175, crop: :fill, class:"product-image hidden-xs" %>
  <% end %>
  <div class='product-body'>
    <%= link_to facility_path(facility) do %>
      <h3><%= facility.name %></h3>
    <% end %>
    <p><%= facility.address %></p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><%= link_to icon('eye'), facility_path(facility) %></li>
    <li><%= link_to icon('users') %></li>
    <%if current_user == @worker %>
    <li><%= link_to icon('pencil'), edit_facility_path(facility)%></li>
    <%end%>
  </ul>
</div>

<% end %>
