<div class="wrapper-card">
  <div class="container">
    <div class="row">
      <% if @workers.empty? %>
        <div class="col-xs-12 text-center">
          <p>Sorry buddy, no extras available</p>
          <% User.all.take(10).each do |worker| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=worker.photo%>);">
                  <div id='price'><%=worker.min_wage/100%> €/h</div>
                  <% unless worker.bookings.empty? %>
                    <div class="card-category">Offer sent</div>
                  <% end %>
                  <div class="card-description">
                    <h2><%= worker.first_name %></h2>
                    <p><%= worker.position %></p>
                  </div>
                  <!-- <img class="card-user avatar" src="user.jpg"> -->
                  <%= link_to "", worker_path(worker), class:"card-link"  %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <% @workers.each do |worker| %>
          <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=worker.photo%>);">
                <div id='price'><%=worker.min_wage/100%> €/h</div>
                <% unless worker.bookings.empty? %>
                  <div class="card-category">Offer sent</div>
                <% end %>
                <div class="card-description">
                  <h2><%= worker.first_name %></h2>
                  <p><%= worker.position %></p>
                </div>


                <%= link_to "", worker_path(worker), class:"card-link"  %>
              </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
