<div class="wrapper-user">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="user-card">

          <div class="user-card-img">
             <% if !@worker.photo.nil? %>
               <%= cl_image_tag @worker.photo, height: 150, width: 150, crop: :fill, class: "img-circle" %>
             <% else %>
               <%= image_tag "http://placehold.it/150x150", class:"img-responsive img-circle" %>
             <% end %>
             <div class="user-details text-center">

               <h1><%= @worker.last_name.upcase %></h1>
               <h2><%= @worker.first_name.capitalize %></h2>

             </div>
          </div>


          <div class="user-card-infos">

            <div class="user-infos">
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <%= @worker.email %></p>

                <% unless @worker.bookings.empty? %>
                <!-- faire correspondre le booking avec le user en question et le current user -->
                <!-- <p><em>You offered a job to <%= @worker.first_name %></em></p> -->
                <% end %>
                <div class="description-part">
                  <h5 id="description"><strong>Description:</strong></h5>
                  <p class="text-justify"><%= @worker.description %></p>
                </div>
            </div>
          </div>
          <div class="call-to-action">
            <% if current_user.owner? && current_user != @worker %>
              <%# link_to "Hire", , method: :create, class: "hidden", id: "createBooking"%>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="trigger">
                Hire
              </button>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Job offer just sent</h4>
                    </div>
                    <div class="modal-body">
                      <p>Just wait the <%=@worker.first_name%>'s answer</p>                      </div>
                    <div class="modal-footer">
                      <a href="/workers/<%=current_user.id%>/bookings"><button type="button" class="btn btn-default">Views your bookings</button></a>
                   <button type="button" onClick="history.go(-1);return true;" class="btn btn-primary">Return to you search</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <% if current_user == @worker %>
              <%= link_to "Edit", edit_worker_path, class:"btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-facility-show">
    <div class="container" id="restaurants">
      <% if @worker == current_user && @worker.owner? %>
        <%= render 'facilities_list' %>
      <% elsif @worker == current_user %>
        <%= render 'joblist' %>
        <%= render 'shared/calendar_ui' %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $('#trigger').on('click', function() {
        $.ajax({
          url: '<%= worker_bookings_path(worker_id: @worker.id) %>',
          type: "POST"
        })
      })
    })
  </script>
<% end %>
