<div class="wrapper-user">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="user-card">

          <div class="user-card-img">
             <% if !@worker.photo.nil? %>
               <%= cl_image_tag @worker.photo, height: 150, width: 150, crop: :fill, class: "img-circle" %>
             <% else %>
               <%= image_tag "http://placehold.it/150x150", class:"img-responsive img-circle" %>
             <% end %>
             <div class="user-details text-center">

               <h1><%= @worker.last_name.upcase %></h1>
               <h2><%= @worker.first_name.capitalize %></h2>

             </div>
          </div>


          <div class="user-card-infos">

            <div class="user-infos">
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <%= @worker.email %></p>

                <% unless @worker.bookings.empty? %>
                <!-- faire correspondre le booking avec le user en question et le current user -->
                <!-- <p><em>You offered a job to <%= @worker.first_name %></em></p> -->
                <% end %>
                <div class="description-part">
                  <h5 id="description"><strong>Description:</strong></h5>
                  <p class="text-justify"><%= @worker.description %></p>
                </div>
            </div>
          </div>
          <div class="call-to-action">
            <% if current_user.owner? && current_user != @worker %>
              <%= link_to "Hire", worker_bookings_path(worker_id: @worker.id), method: :post, class:"btn btn-primary" %>
            <% end %>
            <% if current_user == @worker %>
              <%= link_to "Edit", edit_worker_path, class:"btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-facility-show">
      <div class="container" id="restaurants">
        <% if @worker == current_user && @worker.owner? %>
          <%= render 'facilities_list' %>
        <% elsif @worker == current_user %>
          <%= render 'joblist' %>
          <%= render 'shared/calendar_ui' %>
        <% end %>
      </div>
    </div>
  </div>
</div>










